html, body{
    height:95%;
    width:100%;
		margin-right: auto;
		margin-left: auto;
}
  #map-canvas{
    height:100%;
    width:70%;
    float:left;
    margin-left:auto;
    margin-right:auto;
}

.titulo{
    margin-right : 10px
}
.columna{
    float:left;
    height:100%;
    width:15%;
}
.navbar {
    margin-bottom: 0;
}    

.navbar h3 {
    color: white;
}

.navbar-inverse{
    background-color : #089de3;
    border : 0px;
}

.nav .active a{
    background: #08c2e3!important
}

.nav-btn{
    margin: 15px;
 }

 .nav-drop{
    margin-right : 65px;
    margin-top : 10px
 }

 .search-box{
   position : absolute;
   margin : 5px;
   bottom : 5px; 
}
.darken {
		opacity: 0.5;
    background: black;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.mensaje {
	position: relative;
	color : #FFFFFF;
	left: 5%;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
}

.bar-item {
	margin-top : 17px;
	margin-left : 40px;
	margin-bottom : 0px;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#imagen{
    padding: 10px 15px 15px 5px;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

#imagen_seguidores{
	padding: 10px 15px 15px 5px;
    border-radius: 25px;
	margin-top: -7%;
    width: 200px;
    height: 200px;
}

#imagen_seguidos{
    padding: 10px 15px 15px 5px;
    border-radius: 25px;
    width: 48px;
    height: 48px;
}

#Usu_Seguir{
	margin-bottom:auto;
}

#Usu_Seguir p{
	font-family: "tu fuente", sans-serif !important;
    font-size: 40px;
    font-weight: bold;
}

#Usu_Seguir h5{
	font-family: fantasy !important;
	font-size: 20px;
}

#Usu_Seguir_sub{
	top: -180px;
	font-family: fantasy !important;
}

#Usu_Seguir_sub h5 {
	font-family: fantasy !important;
	font-size: 20px;
}

#Usu_Seguidos {
	float:left;
	height:80px;
}

#Usu_Seguidos p{
	font: oblique bold 120% cursive !important;
	font-style: italic;
    font-size: 25px;
}

#Usu_seguidos_sub {
	padding: 3px;
}

#Usu_seguidos_sub h5 {
	font-family: "tu fuente", sans-serif !important;
	font-size: 20px;
}

#Usu_seguidos_sub p {
	font-family: "tu fuente", sans-serif !important;
    font-size: 25px;
    font-weight: bold;
}

.input_txt{
	border-radius: 15px;
}

@font-face {
    font-family: "tu fuente";
    src: url("../font/02.TTF") format("truetype");
}

.modal label{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

.resize img{
  max-height: 100%;
  max-width: 100%;
}

.resize {
    height: 55%;
    width: 30%;
}

.modal-dialog {
    width: 65%;
}

.modal-title{
    font-family: "tu fuente", sans-serif !important;
    font-size: 40px;
    font-weight: bold;
    color: #337ab7;
}

.nav .dropdown-menu{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

.nav h3{
    font-family: "tu fuente", sans-serif !important;
    font-size: 40px;
    font-weight: bold;
}

.columna li a{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

.glyphicon-menu-hamburger {
    color: #fff;
    font-size: 2em;
}


@media screen and (max-width: 1800px) {
    #imgUs {
        height: 55%;
        text-align:center;
        width: 100%;
    }    
}

#contSeguidores {
    padding-top: 15px;
}

#Usu_Seguidos{
    border-radius: 15px;
    border-color: #337ab7;
    padding: 5px 5px 5px 5px;
}

.nearby-fllwr{
	float : left;
	display : inline;
	max-width : 120px;
}
@media only screen and (max-width: 950px) {
    .label-success{
		margin-top : 8px;
		margin-left : 10px;
		}

}
@media only screen and (min-width: 950px) {
    .label-success{
			position : fixed;
			right : 8px;
			margin-top : 8px;
		}
}


.near-container{
	width:100%;
	overflow: hidden;
	margin : 5px;
}

hr{
	margin-top : 5px;
	margin-bottom : 5px;
}
