html, body{
    height:95%;
    width:100%;
		margin-right: auto;
		margin-left: auto;
}
  #map-canvas{
    height:100%;
    width:70%;
    float:left;
    margin-left:auto;
    margin-right:auto;
}

.titulo{
    margin-right : 10px
}
.columna{
    float:left;
    height:100%;
    width:15%;
}
.navbar {
    margin-bottom: 0;
}    

.navbar h3 {
    color: white;
}

.navbar-inverse{
    background-color : #089de3;
    border : 0px;
}

.nav .active a{
    background: #08c2e3!important
}

.nav-btn{
    margin: 15px;
 }

 .nav-drop{
    margin-right : 65px;
    margin-top : 10px
 }

 .search-box{
   position : absolute;
   margin : 5px;
   bottom : 5px; 
}
.darken {
		opacity: 0.5;
    background: black;
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

.mensaje {
	position: relative;
	color : #FFFFFF;
	left: 5%;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
}

.bar-item {
	margin-top : 17px;
	margin-left : 40px;
	margin-bottom : 0px;
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


