body{
    height:100%;
    width:1200px;
}
html,  #map-canvas{
    height:100%;
    width:800px;
    float:left;
    margin-left:auto;
    margin-right:auto;
}

.titulo{
    margin-right : 10px
}
.columna{
    float:left;
    height:100%;
    width:200px;
}
.navbar {
    margin-bottom: 0;
}    

.navbar h3 {
    color: white;
}

.navbar-inverse{
    background-color : #089de3;
    border : 0px;
}

.nav .active a{
    background: #08c2e3!important
}

.nav-btn{
    margin: 15px;
 }

 .nav-drop{
    margin-right : 65px;
    margin-top : 10px
 }

 .search-box{
   position : absolute;
   margin : 5px;
   bottom : 5px; 
}
