#perfil{
    padding: 20px;
}

#msmError,#msmErrorApellido,#msmErrorNombre {
    font-family: "tu fuente", sans-serif !important;
    font-size: 16px;
    font-weight: bold;
}

@font-face {
    font-family: "tu fuente";
    src: url("../font/02.TTF") format("truetype");
}

#rutaPerfil p{
    font-family: "tu fuente", sans-serif !important;
    font-size: 26px;
    font-weight: bold;
}

#rutaSeguidores p{
    font-family: "tu fuente", sans-serif !important;
    font-size: 26px;
    font-weight: bold;
}

#rutaSeguidores{
    background-color: rgb(33,150,243);
    color: #fff;
}

#imagenPerfil button{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

#labelSeguidores-Siguiendo div label{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

#formularioPerfil div div label{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}


#formularioPerfil div div input{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

#perfil{
    border-radius: 102px 102px 102px 102px;
-moz-border-radius: 102px 102px 102px 102px;
-webkit-border-radius: 102px 102px 102px 102px;
border: 11px solid #bec4c4;
}

#imagenPerfil{
    padding: 10px;
}

#rutaPerfil{
    background-color: rgb(33,150,243);
    color: #fff;
}

#rutas-nav{
    padding: 20px;
    width: 30%;
}

#myModal{
    padding-top: 10px;
}