#perfil{
    padding-top: 10px;
}

#msmError,#msmErrorApellido,#msmErrorNombre {
    font-family: "tu fuente", sans-serif !important;
    font-size: 16px;
    font-weight: bold;
}

@font-face {
    font-family: "tu fuente";
    src: url("../font/02.TTF") format("truetype");
}

#barra-navegacion span{
    font-family: "tu fuente", sans-serif !important;
    font-size: 26px;
    font-weight: bold;
}

#rutaPerfil p{
    font-family: "tu fuente", sans-serif !important;
    font-size: 26px;
    font-weight: bold;
}

#rutaSeguidores p{
    font-family: "tu fuente", sans-serif !important;
    font-size: 26px;
    font-weight: bold;
}

#rutaSeguidores{
    background-color: rgb(33,150,243);
    color: #fff;
}

#imagenPerfil button{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

#labelSeguidores-Siguiendo div label{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}



#formularioPerfil div div label{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}


#formularioPerfil div div input{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

#perfil{
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}

#imagenPerfil{
    padding: 10px;
}

#rutaPerfil{
    background-color: rgb(33,150,243);
    color: #fff;
}


#rutas-nav{
    padding-top: 20px;
    width: 30%;
    padding-left: 9px;
    padding-right: 9px;
}

#myModal{
    padding-top: 10px;
}

#rutas-nav ul:before {
 content:'';
 position: absolute;
 top: 0px;
 left: 0px;
 width: 0px;
 height: 42px;
 background: rgba(255,255,255,0.3);
 border-radius: 5px;
 transition: all 2s ease;
}


#rutas-nav ul:hover:before {
 width: 100%;
}

#myModal{
    padding-top: 10%;
    position: fixed;
    z-index: 1000;
}

#cdf{
    padding-left: 30%;
}

#btnMensaje{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

#btnCerrarMensaje{
    font-family: "tu fuente", sans-serif !important;
    font-size: 20px;
    font-weight: bold;
}

#modal-mensaje{
    height: 60%;
    width: 50%;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}