/*.box2 {
   display: inline-block;
   /*vertical-align: top;
   width: 75%;
}

.clearfix {
 overflow: auto;
}

.UsuImage {
  float: left;
  /*display: inline-block;
  vertical-align: top;
  width: 25%;
}

.btn_seguir{
	float: right;
}
.modal-title{
    font-family: "tu fuente", sans-serif !important;
    font-size: 40px;
    font-weight: bold;
    color: #337ab7;
}

/*div {
    background-color: lightgrey;
    width: 300px;
    padding: 25px;
    border: 25px solid navy;
    margin: 25px;
}*/
*{
  margin:0;
  padding:0;
}
*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
  background: #2361a1;
  font-family: ‘Rationale’, sans-serif;
  color: #fff;
}
.cabecera, footer{
  width:100%;
  background-color:#555;
  color:#fff;
  text-align:center;
}
footer{
  position:absolute;
  bottom:0;
}

/*Bloques y efecto 3D*/

.bloques {
  list-style: none;
  width: 960px;
  margin:auto;
  text-align:center;
}

.cara {
  width: 200px;
  height: 200px;
  margin: 30px;
  display: inline-block;
  vertical-align:top;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  opacity:.75;
}
.cara:hover{
  opacity:1;
}

.box {
  width: 200px;
  height: 200px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(-100px);
  -moz-transform: translateZ(-100px);
  transform: translateZ(-100px);
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  transition: transform 500ms;
}

.box:hover {
  -webkit-transform: rotateY(-78deg) translateZ(20px);
  -moz-transform: rotateY(-78deg) translateZ(20px);
  transform: rotateY(-78deg) translateZ(20px);
}

.box .poster,
.box .info {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #fff;
  text-align:left;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.box .poster {
  -webkit-transform: translateZ(100px);
  -moz-transform: translateZ(100px);
  transform: translateZ(100px);
  background-size: cover;
  background-repeat: no-repeat;
  outline:2px solid black;
  box-shadow: inset 0 .1em 1em black;
  -webkit-box-shadow: inset 0 .1em 1em black;
  -moz-box-shadow: inset 0 .1em 1em black;
  -o-box-shadow: inset 0 .1em 1em black;
}

.box .info {
  -webkit-transform: rotateY(90deg) translateZ(100px);
  -moz-transform: rotateY(90deg) translateZ(100px);
  transform: rotateY(90deg) translateZ(100px);

  font-size: 0.75em;
  outline:2px solid black;
}

.info header {
  color: #000;
  padding: 7px 10px;
  font-weight: bold;
  height: 195px;
  background-size: contain;
  background-repeat: no-repeat;
}

.info header h1 {
  margin: 0 0 2px;
  font-size: 1.4em;
}

.info .subtitulo{
  font-style:italic;
}

.info p {
  padding: 1.2em 0;
  margin: 2px 0 0;
  font-weight:normal;
  border-top: 3px solid orangered;
  font-family:arial;
}

.info a {
  padding: 1.2em 0;
  margin: 2px 0 0;
  font-weight:normal;
  border-top: 3px solid orangered;
  font-family:arial;
}
