extends layout

block lowPriorityScripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js")
    script(src="/javascripts/clientAPI.js")
    script(src="/javascripts/car-functions.js")
    script(src="/javascripts/maps.js")

block menuIcons
    div(id="nuevaData" class="icon material-icons"
    onclick="nuevaMapData();") add
    div(class="mdl-tooltip" for="nuevaData") Nueva Ruta
    div(id="followers-btn" class="icon material-icons") people
    div(class="mdl-tooltip" for="followers-btn") Siguiendo
    div(id="walking" class="icon material-icons") directions_run
    div(class="mdl-tooltip" for="walking") No tengo carro...

block popups
    div(class="modal fade" id="myModal_siguiendo" role="dialog")
                div.modal-dialog
                    div.modal-content
                        div.modal-header
                            button(type="button" class="close" data-dismiss="modal") &times;
                            h4.modal-title Siguiendo
                        div.modal-body
                            div.container-fluid
                                div.row
                                    div(id="bus_seguidores" class="col-md-9")
                                        //Expandable  Textfield
                                        form(action="#")
                                            div(class="mdl-textfield mdl-js-textfield mdl-textfield--expandable textfield-demo")
                                                label(class="mdl-button mdl-js-button mdl-button--icon" for="sample6")
                                                    i(class="material-icons") search
                                                div.mdl-textfield__expandable-holder
                                                    input(class="mdl-textfield__input" type="text" id="sample6")
                                                    label(class="mdl-textfield__label" for="sample-expandable") Expandable Input
                                div(id="followersRow" class="row")
                        div.modal-footer
                            button(type="button" class="btn btn-default" data-dismiss="modal") Close

block content
    nav(id="rutas-nav" class="columna")
        ul(id="rutasUL" class="nav nav-pills nav-stacked")
        form(id="newRouteForm" class="invisible" style="margin:6px" onsubmit="return false")
            h3.form-text Nueva Ruta
            br
            div(class="mdl-textfield mdl-js-textfield textfield-demo newroute-form")
                input(class="mdl-textfield__input" patttern="[A-Z,a-z, ]*" type="text"
                id="routename")
                label(class="mdl-textfield__label" for="sample1") Nombre...
                span.mdl-textfield__error S&oacutelo se permiten letras y n&uacutemeros
            label Hora de partida
            div(class="newroute-form")
                select#routehour
                    - for(var hour = 0; hour < 24; hour++)
                      if(hour < 10)
                        option 0#{hour}
                      else
                        option #{hour}
                label :
                select#routemin
                    - for(var min = 0; min < 60; min++)
                      if(min < 10)
                        option 0#{min}
                      else
                        option #{min}
            br
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkLunes")
                input(type="checkbox" id="checkLunes" class="mdl-checkbox__input")
                span Lunes
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkMartes")
                input(type="checkbox" id="checkMartes" class="mdl-checkbox__input")
                span Martes
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkMiercoles")
                input(type="checkbox" id="checkMiercoles" class="mdl-checkbox__input")
                span Mi&eacutercoles
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkJueves")
                input(type="checkbox" id="checkJueves" class="mdl-checkbox__input")
                span Jueves
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkViernes")
                input(type="checkbox" id="checkViernes" class="mdl-checkbox__input")
                span Viernes
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkSabado")
                input(type="checkbox" id="checkSabado" class="mdl-checkbox__input")
                span S&aacutebado
            label(class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkDomingo")
                input(type="checkbox" id="checkDomingo" class="mdl-checkbox__input")
                span Domingo

            button(id="submitRoute" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect savebtn mdl-button--accent") GUARDAR
    //Google Map
    #map-canvas
    nav(id="follower-nav" class="columna")
        #active-follower-list
            p#emptyNotif No hay datos.<br>Selecciona un destino.
        div(class="mdl-textfield mdl-js-textfield textfield-demo search-box")
            input(class="mdl-textfield__input" type="text" id="sample1")
            label(class="mdl-textfield__label" for="sample1") Search...
