extends layout

block content
	div(class="container")
		div(class="row")
			div(id="imagenPerfil" class=" col-xs-12 text-center")
				div(class="col-xs-offset-4 col-xs-3 text-center")
					- var ruta = "/uploads/"+usuario+".png";
					img(alt="Imagen Perfil" id="imaUser" src=ruta  class="img-responsive center-block img-circle text-center")
				div(class="form-group col-xs-1 col-md-1 col-lg-1")
				div(class="row")
				div(class="form-group col-xs-5")
				//boton de subir imagen
			div(class="row text-center center-block" style="padding:10px;")
				div(class="form-group .col-md-3 .col-md-offset-5")
					form(id="formularioUsuarioEditar" class="form-horizontal" action="/actualiza" method="POST")
						each perfil in listaPerfil
							if perfil.usuario == usuario
								div(class="form-group")
									label(class="col-md-4 control-label") Nombres
									div(class="col-md-4")
										input(id="nombrePerfil" onkeyup="validarPalabraNombre();" name="nombre" type="text" placeholder="Nombres" class="form-control" value="#{perfil.nombre}" required)
										p
											span(id="msmErrorNombre" style="color:blue")
								div(class="form-group")
									label(class="col-md-4 control-label") Apellidos
									div(class="col-md-4")
										input(id="apellidoPerfil" onkeyup="validarPalabraApellido();" name="apellido" type="text" placeholder="Apellidos" class="form-control" value="#{perfil.apellido}" required)
										p
											span(id="msmErrorApellido" style="color:blue")
								div(class="form-group")
									label(class="col-md-4 control-label" for="radios") Tiene Carro
									div(class="col-md-4")
										div(class="radio")
											if perfil.placa == "XXX0000"
												label(class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1")
													input(name="tieneCarro" type="radio" id="option-1" class="mdl-radio__button" value="1" onclick="validarTengoCarro();")
													span(class="mdl-radio__label") Si
												&nbsp;&nbsp;
												label(class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2")
													input(name="tieneCarro" type="radio" id="option-2" class="mdl-radio__button" value="2" onclick="validarNoTengoCarro();" checked)
													span(class="mdl-radio__label")	No												
											else 
												label(class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1")
													input(name="tieneCarro" type="radio" id="option-1" class="mdl-radio__button" value="1" onclick="validarTengoCarro();" checked)
													span(class="mdl-radio__label") Si
												&nbsp;&nbsp;
												label(class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2")
													input(name="tieneCarro" type="radio" id="option-2" class="mdl-radio__button" value="2" onclick="validarNoTengoCarro();")
													span(class="mdl-radio__label") No
								if perfil.placa == "XXX0000"
									div(id="formInPlaca" class="form-group" style="display:none")
										div(class="form-group")
											label(class="col-md-4 control-label") Placa
											div(class="col-md-4")
												input(id="inPlaca" onkeyup="validarPlaca();" name="placa" type="text" placeholder="Ejemplo:GYE1234" class="form-control" value="#{perfil.placa}" required)
												p
													span(id="msmError" style="color:blue")
										div(class="form-group")
											label(class="col-md-4 control-label") Capacidad Del Carro
											div(class="col-md-4")
												input(id="inCapacidad" name="capacidadCarro" type="number" placeholder="Capacidad" class="form-control" value="#{perfil.capacidadCarro}" min=0)
								else
									div(id="formInPlaca" class="form-group" style="display:inline")
										div(class="form-group")
											label(class="col-md-4 control-label") Placa
											div(class="col-md-4")
												input(id="inPlaca" onkeyup="validarPlaca();" name="placa" type="text" placeholder="Ejemplo:GYE1234" class="form-control" value="#{perfil.placa}" required)
												p
													span(id="msmError" style="color:blue")
										div(class="form-group")
											label(class="col-md-4 control-label") Capacidad Del Carro
											div(class="col-md-4")
												input(id="inCapacidad" name="capacidadCarro" type="number" placeholder="Capacidad" class="form-control" value="#{perfil.capacidadCarro}" min=0)
								div(class="form-group")
									label(class="col-md-4 control-label") Acerca de mi : 
									div(class="col-md-4")
										textarea(class="form-control"  rows="1" name="bio")=perfil.bio
								div(class="form-group center-block")
									div(class="col-md-offset-5 col-md-8 col-lg-12 center-block ")
										button(type="submit" id="btnGuardar" class="mdl-button mdl-js-button mdl-button--primary" value="Guardar")
											span(class="glyphicon glyphicon-ok")
										button(id="btnCancelar" type="reset" class="mdl-button mdl-js-button mdl-button--accent" value="Cancelar")
											span(class="glyphicon glyphicon-remove")
	script(src='/javascripts/editar_perfil_val.js')
	link(rel="stylesheet", href="/stylesheets/perfil_style.css")