doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum.scale=1.0")
    block highPriorityScripts
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    link(rel="stylesheet", href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue-pink.min.css")
    link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    script(src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/stylesheets/main_style.css")
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true")
    script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
    script(src='/socket.io/socket.io.js')
    script(src="/javascripts/moment.js")
    script(src="/javascripts/notificacion.js")
    block lowPriorityScripts
  body
    block popups
    input(value=usuario style="display:none;" id="TempUsuario")
    div(class="mdl-layout mdl-js-layout mdl-layout--fixed-header")
      header(class="mdl-layout__header")
        div(class="mdl-layout__header-row")
          span(class="mdl-layout-title") Rapid&iacuten Espol
          span(id="pickRoute" class="blink-me subtitulo invisible") Escoge el inicio de la ruta en el mapa
          div(class="mdl-layout-spacer")
          nav(class="mdl-navigation mdl-layout--large-screen-only")
            div(id="notifica" data-badge="0" class="material-icons mdl-badge") announcement
            ul(id="notificaExtension" class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="notifica")
            block menuIcons
            div(id="miPerfil" class="icon material-icons" onclick="miPerfil();") account_circle
            div(class="mdl-tooltip" for="miPerfil") Mi Perfil
            div(id="logout" class="icon material-icons" onclick="logout();") exit_to_app
            div(class="mdl-tooltip" for="logout") Salir

      div(class="mdl-layout__drawer")
        span(class="mdl-layout-title") Rapid&iacuten Espol
        nav(class="mdl-navigation")
          a(class="mdl-navigation__link") Perfil
          a(class="mdl-navigation__link") No tengo carro
          a(class="mdl-navigation__link" href="/seguir") Seguidores
          a(class="mdl-navigation__link" href="/siguiendo") Siguiendo
          a(class="mdl-navigation__link") Cerrar Sesi&oacuten
      main(class="mdl-layout__content")
        div(class="page-content")
          block content
