html 
    head
        title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum.scale=1.0")
        link(rel='stylesheet', href='/stylesheets/chat.css')   
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
        script(src='./socket.io/socket.io.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js') 
        script(src='http://code.jquery.com/jquery-2.1.4.js')

    body
        block content
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')