html 
    head
        title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum.scale=1.0")
        link(rel='stylesheet', href='/stylesheets/registro.css')
        script(src="/javascripts/funcion.js")
        script(src="/javascripts/registro.js")
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')    
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    body
        block content
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')