extends layout_inicio

block content
    div(class="container-fluid")
        h3(class="text-danger text-center bg-info") 
            marquee(id="marque" behavior="slide") Red exclusiva para estudiantes/personal de ESPOL. usa tu usuario de ESPOL para obtener acceso
    div(class="container-fluid" style="padding-top: 10%;")
        div(class="row")
            div(id="descripcion" class="col-lg-4 col-md-offset-2" style="background-color: #fff; border-radius: 15px")
                h1(class="text-primary") 
                    strong Bienvenido a Rapidin ESPOL
                div(style="color: black" class="text-justify")
                    div(class="slide")
                        figure
                            img(class="img1" alt="alt img1" src="images/login1.jpg")
                            img(class="img2" alt="alt img2" src="images/login2.jpg")
                            img(class="img2" alt="alt img3" src="images/login2.jpg")
                            img(class="img2" alt="alt img4" src="images/login2.jpg")

            div(id="inicio" class="col-lg-3 col-md-offset-1" style="background-color: #fff; border-radius: 15px;")
                h1(class="text-primary text-center") 
                    strong Inicio de Sesi&oacuten
                form(action="/inicio", method='post')
                    div(id="formUsuario" "form-group text-left")
                        label(for="InputUsuario") Usuario
                        input(id="Email" name="Email" type="text" class="form-control" placeholder="Usuario" autofocus="true" required)
                    div(id="formPassword" class="form-group text-left")
                        label(for="exampleInputPassword1") Contraseña
                        input(id="Password" name="Password" type="password" class="form-control" placeholder="Password" required)
                    div(id="formCheck" class="form-group text-left")
                        div(class="checkbox")
                            label
                                strong
                                    input(type="checkbox")
                                    |   Remember me
                    div(class="form-group")
                        button(id="btnIngresar" type="submit" class="btn btn-primary text-left" onclick="cargarUsuarios();") Ingresar