extends layout

block content
	div(class="row")
		form(action="upload" enctype="multipart/form-data" method="post")
			input(type="text" name="title")
			input(type="file" name="upload")
			input(type="submit" value="Upload")